.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  padding-right: 3vw;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
